@model IEnumerable<WorkshopV2.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <button type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Filters
    </button>
    <ul class="dropdown-menu p-3" aria-labelledby="filterDropdown">
        <form asp-action="Index" method="get">
            <div class="mb-3">
                <select name="firstName" class="form-control">
                    <option value="">All First Names</option>
                    @foreach (var firstName in ViewBag.FirstNames)
                    {
                        <option value="@firstName">@firstName</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <select name="lastName" class="form-control">
                    <option value="">All Last Names</option>
                    @foreach (var lastName in ViewBag.LastNames)
                    {
                        <option value="@lastName">@lastName</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <select name="degree" class="form-control">
                    <option value="">All Degrees</option>
                    @foreach (var degree in ViewBag.Degrees)
                    {
                        <option value="@degree">@degree</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <select name="academicRank" class="form-control">
                    <option value="">All Academic Ranks</option>
                    @foreach (var academicRank in ViewBag.AcademicRanks)
                    {
                        <option value="@academicRank">@academicRank</option>
                    }
                </select>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </div>
        </form>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
